/*-----------------------------------
	General Styles
-----------------------------------*/

body{
    font-size : 14px;
    background-color: #f2f6f9;
}

ul{
    list-style-type: none;
}

a:hover {
    text-decoration:none;
}


/*-----------------------------------
	Navbar
-----------------------------------*/

.minicart{
    background:url(../images/sprite.png);
    background-position: -156px 11px;
    background-repeat:no-repeat;
    width: 40px;
    height: 50px;
    padding-right: 32px;
}

.navbar{
    background-color: #4ea6bc;
    padding: 15px ;
    border-radius: 0;
    margin: 0;
}

.navbar-brand{
    color: #fff;
    font-family: Open Sans, sans-serif;
    padding-left: 32px;
}

.navbar-brand:hover{
    color: #fff;
}

/*-----------------------------------
	Breadcrumb
-----------------------------------*/

.breadcrumb > .active a{
    color: #468595;
    font-weight: bold;
    text-transform: uppercase;
}

.breadcrumb li a{
    color :#b3d4dc;
    font-weight: bold;
    text-transform: uppercase;
}

.breadcrumb>li+li:before {
    content: "\00BB";
}

.breadcrumb{
    margin-bottom: 100px;
    background-color: #ffffff;
}

.breadcrumbBox{
    background-color: #ffffff;
    height: 100px;
    margin-bottom: 100px;
    padding-top: 32px;
}

/*-----------------------------------
	Main
-----------------------------------*/

.container.text-center{
    padding: 0 32px;
}

/*-----------------------------------
	Logo and description
----------------------------------- */


.col-md-5.col-sm-12{
    padding: 0;
}

.col-md-5.col-sm-12 h1{
    color: #595c5f;
    font-size: 24px;
    font-weight: bold;
    margin-bottom:30px;
    text-align: left;
}

.col-md-5.col-sm-12 p{
    color: #898e92;
    line-height: 1.5;
    max-width: 400px;
    text-align: justify;
}

.bigcart{
    background:url(../images/sprite.png);
    background-position: 0px 11px;
    background-repeat:no-repeat;
    width: 155px;
    height: 120px;
    margin:0 0 40px 60px;
}


/*-----------------------------------
	Cart items list
-----------------------------------*/

.col-md-7.col-sm-12{
    padding-left: 50px ;
    margin-bottom: 72px;
}

.row{
    box-shadow: 0 1px 0 #e1e5e8;
    padding-bottom :0;
    padding-left: 15px;
    background-color: #ffffff;
    margin-bottom: 11px;
}

.row span{
    padding: 20px 0 6px 0;
}

/* Column Captions */

.columnCaptions{
    color: #7e93a7;
    font-size:12px;
    text-transform: uppercase;
    padding: 0;
    box-shadow: 0 0 0;
    background-color: #f2f6f9;
}

.columnCaptions span:first-child{
    padding-left:8px;
}

.columnCaptions span{
    padding: 0 21px 0 0;
}

.columnCaptions span:last-child{
    float: right;
    padding-right: 72px;
}


/* Items */

.itemName{
    color: #727578;
    font-size :16px;
    font-weight: bold;
    float: left;
    padding-left:25px;
}


.quantity{
    color: #4ea6bc;
    font-size :18px;
    font-weight: bold;
    float : left;
    width: 42px;
    padding-left: 7px;
}


.popbtn{
    background-color: #e6edf3;
    margin-left: 25px;
    height: 63px;
    width: 40px;
    padding: 32px 0 0 14px !important;
    float: right;
    cursor: pointer;
}

.arrow{
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #858e97;
}

.price{
    color: #f06953;
    font-size :18px;
    font-weight: bold;
    float: right;
}


/* Totals */

.totals{
    background-color: #f2f6f9;
}

.totals span{
    padding: 40px 15px 40px 0;
}

.totals .price{
    float: left;
}

.totals .itemName{
    margin-top: 1px;
}

.totals .order{
    float: right;
    padding: 0;
    margin-top: 40px;
    padding-left: 5px;
    cursor: pointer;
}

.order a{
    background-color: #f08573;
    color: #fbfffa;
    font-weight: bold;
    border-radius: 2px;
    padding: 20px 30px;
}


/* Popovers */

.popover{
    border-radius: 3px;
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.2);
    border: 0;
    background-color: #ffffff;
}

.popover.bottom{
    margin-top: -9px;
}

.glyphicon{
    width: 24px;
    font-size: 24px;
    padding: 0;
}

.glyphicon-pencil{
    color: #858e97;
    margin: 7px 12px 7px 10px;
}

.glyphicon-remove{
    color: #f06953;
    margin-right: 10px;
}

/*-----------------------------------
	Media Queries
----------------------------------- */

/* Tablet size */

@media (max-width: 992px) {

    .container.text-center{
        padding: 0 15px;
    }

    .breadcrumb{
        margin-bottom: 32px;
    }

    .bigcart{
        margin: 0 auto 40px auto;
    }

    .col-md-5.col-sm-12 h1{
        text-align: center;
    }

    .col-md-5.col-sm-12 p{
        margin: 0 auto 64px auto;
        text-align: justify;
    }

    .col-md-7.col-sm-12{
        padding-left: 10px ;
        padding-right: 50px;
    }

    .totals{
        box-shadow: 0 0 0;
    }

}


/* Mobile device size */

@media (max-width: 768px) {

    .navbar{
        padding:10px 0;
    }

    .minicart{
        margin-right: -1px;
        padding-right: 0;
    }

    .navbar-brand{
        padding-left: 0;
    }

    .breadcrumbBox{
        height:80px;
        padding-top:21px;
    }

    .col-md-5.col-sm-12 p{
        max-width: 300px;
    }

    .col-md-7.col-sm-12{
        padding-left: 0;
        padding-right: 15px;
        margin-bottom: 32px;
    }

    .col-md-7.col-sm-12 ul{
        padding-left: 15px ;
    }

    .columnCaptions span{
        padding: 0 21px 0 0;
    }

    .columnCaptions span:last-child{
        float: right;
        padding-right: 42px;
    }

    .row{
        padding-bottom:10px;
    }

    .quantity{
        width: 23px;
        padding-right: 40px !important;
    }

    .popbtn{
        background-color: white;
        position: absolute;
        height:40px;
        right: 0;
    }

    .price{
        position: absolute;
        right: 42px;
    }

    .totals{
        padding: 0;
    }

    .totals .price{
        position: static;
    }

    /* Change Bootstrap's default popover to make it look nice on a mobile device */

    .popover.bottom>.arrow{
        left: auto;
        margin-left: 0;
        right: 5px;
    }

    .popover.bottom{
        margin-top: 7px;
        margin-left: -40px;
    }

}



/*----------------------------------------
	The Demo Footer. Remove this code.
----------------------------------------*/


footer{

    width: 770px;
    font: normal 16px Arial, Helvetica, sans-serif;
    padding: 15px 35px;
    position: fixed;
    bottom: 0;
    left: 50%;
    margin-left: -420px;

    background-color:#1f1f1f;
    background-image:linear-gradient(to bottom, #1f1f1f, #101010);

    border-radius:2px 2px 0 0;
    box-shadow: 0 -1px 4px rgba(0,0,0,0.4);
    z-index:1;
}

footer a.tz{
    font-weight:normal;
    font-size:16px !important;
    text-decoration:none !important;
    display:block;
    margin-right: 300px;
    text-overflow:ellipsis;
    white-space: nowrap;
    color:#bfbfbf !important;
    z-index:1;
}

footer a.tz:before{
    content: '';
    background: url('http://cdn.tutorialzine.com/misc/enhance/v2_footer_bg.png') no-repeat 0 -53px;
    width: 138px;
    height: 20px;
    display: inline-block;
    position: relative;
    bottom: -3px;
}

footer .close{
    position: absolute;
    cursor: pointer;
    width: 8px;
    height: 8px;
    background: url('http://cdn.tutorialzine.com/misc/enhance/v2_footer_bg.png') no-repeat 0 0px;
    top:10px;
    right:10px;
    z-index: 3;
}

footer #tzine-actions{
    position: absolute;
    top: 8px;
    width: 500px;
    right: 50%;
    margin-right: -650px;
    text-align: right;
    z-index: 2;
}

footer #tzine-actions iframe{
    display: inline-block;
    height: 21px;
    width: 95px;
    position: relative;
    float: left;
    margin-top: 11px;
}

@media (max-width: 1024px) {
    #bsaHolder, footer{ display:none;}
}
